<header>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path("homepage") }}">
                    <img class="brand" alt="Brand" src="{{ asset("/images/logo/logo.png") }}">
                    <img class="brand" alt="CreateSfe" src="{{ asset("/images/logo/CreateSafe.png") }}">
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.php">
                </a>
            </div>
            <nav id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a id="protect" data-toggle="modal" data-target="#myModal">Protect</a></li>
                        <li><a href="{{ path('fos_user_profile_show') }}">My Works</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.firstName | capitalize }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ path('homepage') }}">Home</a></li>
                        <li><a href=#>Features</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </div>
</header>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="uploadModal">Upload files to protect:</h4>
            </div>
            <div class="modal-body">
                <form id="dropzone" name="dropzone" action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="cancel" data-dismiss="modal">Cancel</button>
                <a href="{{ path('payment') }}"><button type="button" class="btn btn-primary">Continue</button></a>
            </div>
        </div>
    </div>
</div>