{% extends "FOSUserBundle::layout.html.twig" %}

{% block additionalStylesheets %}
    <style>
        .form-signin input[type="text"]
        {
            margin-bottom: -1px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .form-signin input[type="password"]
        {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-sm-offset-4">
                <div style="position: relative; text-align: center">
                    <a href="{{ path('homepage') }}"><img class="text-center" id="logo" alt="CreateSafe Logo" src="{{ asset("/images/logo/logo.png") }}"></a>
                    <h1 style="font-size: 2em" class="text-center login-title">Sign in to continue</h1>
                </div>
                <div class="account-wall">
                    {% if error %}
                        <div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                        </div>
                    {% endif %}
                    <div class="form-signin">
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                            <label for="username" class="sr-only">Email</label>
                            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Email" required="required" />

                            <label for="password" class="sr-only">Password</label>
                            <input type="password" class="form-control" id="password" name="_password" placeholder="Password" required="required" />

                            <div class = "checkbox pull-left">
                                <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on" />Remember Me</label>
                            </div>

                            <input class="btn btn-lg blueButton btn-block" type="submit" id="_submit" name="_submit" value="Login" />
                            <a href="{{ path('fos_user_resetting_request') }}" class="pull-right need-help">Forgot Password? </a><span class="clearfix"></span>
                        </form>
                        <hr style="border-top: 1px solid #999999">
                        <p class="text-center new-account">Not already registered? </p>
                        <a style="text-decoration: none !important;" href="{{ path('fos_user_registration_register') }}"><button class="btn btn-lg blueButton btn-block" >Create Account</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}