{% extends "FOSUserBundle::layout.html.twig" %}

{% block additionalStylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/sideBar.css') }}" />
    <style>
        p {
            font-size: 1.3em;
        }

        .row {
            margin-top: 20px;
        }

        .box {
            height: 465px !important;
            position: relative;
            background-color: white;
            border: 1px solid #c2c2c2;
            line-height: 1.4;
            padding: 15px;
            overflow: scroll;
        }

        .shortcuts {
            padding-top: 20px;
            clear: left;
            width: 100%;
            text-align: center;
            position: relative;
            margin-bottom: 15px;
        }

        .shortcuts img {
            height: 45px;
            display: inline-block;
            margin: 0 6%;
            position: relative;
        }

        .shortcuts a {
            height: 100% !important;
        }
    </style>
{% endblock %}

{% block fos_user_content %}
    {% include "navigationBar.html.twig" %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="box">
                    {% include "profile/ceaseAndDesistLetter.html.twig" %}
                </div>
                <div class="shortcuts">
                    <a href="{{ path('ceaseAndDesistPDF', {'work': work.registrationNumber, 'name': name}) }}"><img src="{{ asset("/images/icons/Download.png") }}"></a>
                    <img  style="cursor: pointer;" onclick="print('{{ path('ceaseAndDesistPDF', {'work': work.registrationNumber, 'name': name}) }}')"  src="{{ asset("/images/icons/Print.png") }}">
                    <div id="printerDiv" style="display:none"></div>
                    <a style="cursor: pointer;" data-toggle="modal" data-target="#sendEmail"><img class="smaller" src="{{ asset("/images/icons/Mail.png") }}"></a>
                </div>
            </div>

            <!-- Modal --> <!-- Javascript functions in layout.html.twig -->
            <div class="modal fade" id="sendEmail" tabindex="-1" role="dialog" aria-labelledby="senEmailLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Insert infringer's email:</h4>
                        </div>
                        <div class="modal-body">
                            <span>Email address:</span>
                            <input type="email" id="email" name="email" placeholder="Email" required="required" />
                            <button onClick="sendEmail();" class="btn btn-lg blueButton btn-block" id="sendButton">Send Cease &amp Desist</button>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'profile/sideBar.html.twig' %}
        </div>
    </div>
    {% include 'footer.html.twig' %}
{% endblock fos_user_content %}

{% block javascripts %}
    <script type="text/javascript">
        function sendEmail() {
            $.ajax({
                type: "POST",
                url: "{{ path('ceaseAndDesist') }}",
                data: { email: $('#email').val(),
                        work: '{{ work.registrationNumber }}',
                        name: '{{ name }}'
                }
            })
            .done(function(data) {
                var response = jQuery.parseJSON(data);
                if(response.success === 'true') {
                    $('#sendEmail').modal('hide');
                    $('#success').modal('show');
                } else {
                    /* for debugging purposes */
                    if(response.hasOwnProperty('invalidEmail')) {
                        alert("The email address you inserted is not valid.");
                    }
                    else if(response.hasOwnProperty('error')) {
                        alert(response.error);
                    }
                }
            });
        }
    </script>
{% endblock %}