{% extends "FOSUserBundle::layout.html.twig" %}

{% block additionalStylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/sideBar.css') }}" />
    <style>
        .row {
            margin-top: 20px;
        }

        .box {
            height: 465px !important;
            position: relative;
            background-color: white;
            border: 1px solid #c2c2c2;
            line-height: 1.4;
            padding: 15px;
            overflow: scroll;
        }

        .shortcuts {
            padding-top: 20px;
            clear: left;
            width: 100%;
            text-align: center;
            position: relative;
            margin-bottom: 15px;
        }

        .shortcuts img {
            height: 45px;
            display: inline-block;
            margin: 0 6%;
            position: relative;
        }

        .shortcuts a {
            height: 100% !important;
        }
    </style>
{% endblock %}

{% block fos_user_content %}
    {% include "navigationBar.html.twig" %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="box">
                    <p>Dear {{ name }},
                        <br><br>
                        I am the lawful owner of {{ work }}.
                        <br><br>
                        I am writing to notify you that your unlawful copying of {{ work }} infringes upon my exclusive copyrights.  Accordingly, you are hereby directed to
                        CEASE AND DESIST ALL COPYRIGHT INFRINGEMENT.
                        <br><br>
                        I am the owner of a copyright in various aspects of {{ work }} and my copyrights have been in effect since the date that {{ work }} was created. In support of this ownership you will notice the attached certificate showing the date at which my copyright was registered with CreateSafe.
                        <br><br>
                        It has come to my attention that you have been copying {{ work }}.  I have copies of your unlawful copies to preserve as evidence. Your actions constitute copyright infringement in violation of copyright laws and the consequences of such infringement can include a financial award of statutory damages, at the discretion of the court.  If you continue to engage in copyright infringement after receiving this letter, your actions will be evidence of “willful infringement”.
                        <br><br>
                        It is hereby demanded that you immediately (A) cease and desist your unlawful copying of {{ work }} and (B) provide us with prompt written assurance within ten (10) days that you will cease and desist from further infringement of my copyrighted works.
                        <br><br>
                        If you do not comply with this cease and desist demand within this time period, I will be entitled to use your failure to comply as evidence of “willful infringement” and seek monetary damages and equitable relief for your copyright infringement. In the event you fail to meet this demand, please be advised that I will have no choice but to contemplate pursuing all available legal remedies, including seeking monetary damages, injunctive relief, and an order that you pay court costs and legal fees.  Your liability and exposure under such legal action could be considerable.
                        Before taking these steps, however, I wish to give you one opportunity to discontinue your illegal conduct by complying with this demand within ten (10) days.  Accordingly, please sign and return the attached Agreement within ten (10) days to {{ user.email }}.
                        If you, or your legal adviser have any questions, please contact me directly.
                        <br><br>
                        Sincerely,<br>
                        {{ user.firstName }} {{ user.lastName }}
                    </p>
                </div>
                <div class="shortcuts">
                    <img src="{{ asset("/images/icons/Download.png") }}">
                    <img src="{{ asset("/images/icons/Print.png") }}">
                    <img class="smaller" src="{{ asset("/images/icons/Mail.png") }}">
                </div>
            </div>
            {% include 'profile/sideBar.html.twig' %}
        </div>
    </div>
    {% include 'footer.html.twig' %}
{% endblock fos_user_content %}