<div class="col-md-4">
    <ul class="menu">
        <a href="{{ path('fos_user_profile_show') }}">
            <li>
                <div class="menu-option">
                    <img src="{{ asset("/images/icons/MyWorks.png") }}">
                </div>
                <p>My Works</p>
            </li>
        </a>
        <a data-toggle="modal" data-target="#myModal" style="cursor: pointer;">
            <li>
                <div class="menu-option">
                    <img style="height: 100%; margin-top: -5px;" src="{{ asset("/images/icons/ProtectNew.png") }}">
                </div>
                <p>Register New</p>
            </li>
        </a>
        <a style="cursor: pointer;" data-toggle="modal" data-target="#ceaseAndDesist">
            <li>
                <div class="menu-option">
                    <img src="{{ asset("/images/icons/CeaseDesist.png") }}">
                </div>
                <p>Cease &amp Desist</p>
            </li>
        </a>
        <a href="">
            <li>
                <div class="menu-option">
                    <img class="smaller" src="{{ asset("/images/icons/Payment.png") }}">
                </div>
                <p>Bill &amp Payments</p>
            </li>
        </a>
        <a style="cursor: pointer;" data-toggle="modal" data-target="#inviteFriend">
            <li>
                <div class="menu-option">
                    <img src="{{ asset("/images/icons/InviteFriend.png") }}">
                </div>
                <p>Invite a Friend</p>
            </li>
        </a>
        <a href="">
            <li>
                <div class="menu-option">
                    <img src="{{ asset("/images/icons/Settings.png") }}">
                </div>
                <p>Account Settings</p>
            </li>
        </a>
        <a href="{{ path('FAQs') }}">
            <li>
                <div class="menu-option">
                    <img src="{{ asset("/images/icons/FAQs.png") }}">
                </div>
                <p>FAQs</p>
            </li>
        </a>
        <a href="">
            <li>
                <div class="menu-option">
                    <img src="{{ asset("/images/icons/Support.png") }}">
                </div>
                <p>Support</p>
            </li>
        </a>
    </ul>
</div>

<!-- Modal --> <!-- Javascript functions in layout.html.twig -->
<div class="modal fade" id="inviteFriend" tabindex="-1" role="dialog" aria-labelledby="inviteFriendLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Insert friend's email:</h4>
            </div>
            <div class="modal-body">
                <span>Email address:</span>
                <input type="email" id="email" name="email" placeholder="Email" required="required" />
                <button onClick="inviteFriend();" class="btn btn-lg blueButton btn-block" id="inviteButton">Invite Friend</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal --> <!-- Javascript functions in layout.html.twig -->
<div class="modal fade" id="ceaseAndDesist" tabindex="-1" role="dialog" aria-labelledby="ceaseAndDesistLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Fill in details:</h4>
            </div>
            <div class="modal-body">
                <form action="{{ path("ceaseAndDesist") }}" method="post">
                    <span>Name of Infringer:</span>
                    <input type="text" id="name" name="name" placeholder="Full Name" required="required" /><br>
                    <span>Your work:</span>
                    {% if protectedFiles is defined %}
                        <div class="selector">
                            <select id="work" name="work">
                            {% for file in protectedFiles %}
                                <option value="{{ file.originalName }}">{{ file.originalName }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    {% else %}
                        <input type="text" id="work" name="work" placeholder="Name of your protected work" required="required" />
                    {% endif %}
                    <input class="btn btn-lg blueButton btn-block" type="submit" id="_submit" name="_submit" value="Cease And Desist" />
                </form>
            </div>
        </div>
    </div>
</div>