<div class="col-md-4">
    <ul class="menu">
        <a href="{{ path('fos_user_profile_show') }}">
            <li>
                <div class="menu-option">
                    <img src="{{ asset("/images/icons/MyWorks.png") }}">
                </div>
                <p>My Works</p>
            </li>
        </a>
        <a data-toggle="modal" data-target="#myModal" style="cursor: pointer;">
            <li>
                <div class="menu-option">
                    <img src="{{ asset("/images/icons/MyWorks.png") }}">
                </div>
                <p>Protect New</p>
            </li>
        </a>
        <a href="">
            <li>
                <div class="menu-option">
                    <img src="{{ asset("/images/icons/CeaseDesist.png") }}">
                </div>
                <p>Cease &amp Desist</p>
            </li>
        </a>
        <a href="">
            <li>
                <div class="menu-option">
                    <img class="smaller" src="{{ asset("/images/icons/Payment.png") }}">
                </div>
                <p>Bill &amp Payments</p>
            </li>
        </a>
        <a href="">
            <li>
                <div class="menu-option">
                    <img src="{{ asset("/images/icons/InviteFriend.png") }}">
                </div>
                <p>Invite a Friend</p>
            </li>
        </a>
        <a href="">
            <li>
                <div class="menu-option">
                    <img src="{{ asset("/images/icons/Settings.png") }}">
                </div>
                <p>Account Settings</p>
            </li>
        </a>
        <a href="">
            <li>
                <div class="menu-option">
                    <img src="{{ asset("/images/icons/FAQs.png") }}">
                </div>
                <p>FAQs</p>
            </li>
        </a>
        <a href="">
            <li>
                <div class="menu-option">
                    <img src="{{ asset("/images/icons/Support.png") }}">
                </div>
                <p>Support</p>
            </li>
        </a>
    </ul>
</div>