{% extends 'base.html.twig' %}

{% block title %}
CreateSafe
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/dropzone.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/basic.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/homepage.css') }}" />
{% endblock %}

{% block body %}
    {% include 'navigationBar.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="jumbotron">
                <video id="video-background" preload="auto" muted autoplay loop>
                    <source src="{{ path('video') }}" type="video/mp4">
                </video>
                <div id="onVideo">
                    <h1>CreateSafe!</h1>
                    <p>A quick, secure, easy way to register the copyright in your creative work.</p>
                    <p>
                        <button type="button" class="btn blueButton btn-lg" data-toggle="modal" data-target="#myModal">
                        Protect Now
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}

{% block additionalJavascripts %}
    <script>
    $(document).ready(function () {
        $("#dropzone").dropzone({
            maxFilesize: 10, //MB; remember to change upload_max_filesize in php.ini too!!
            acceptedFiles: "application/msword,application/pdf,image/*",
            init: function() {
              this.on("addedfile", function(file) {
                // Create the remove button
                var removeButton = Dropzone.createElement("<button class=\"btn btn-xs btn-danger\">Remove File</button>");


                // Capture the Dropzone instance as closure.
                var _this = this;

                // Listen to the click event
                removeButton.addEventListener("click", function(e) {
                  // Make sure the button click doesn't submit the form:
                  e.preventDefault();
                  e.stopPropagation();

                  // Remove the file preview.
                  _this.removeFile(file);
                });
                // Add the button to the file preview element.
                file.previewElement.appendChild(removeButton);
              });

              //for debugging purposes, prints response to XMLHttpRequest when an error is returned
              this.on("error", function(file, errorMessage, xhr) {
                alert(xhr.responseText);
              });
            }
        });

        $(".jumbotron").append
    });
    </script>
    <script src="{{ asset('js/dropzone.js') }}"></script>
{% endblock %}