{% extends 'base.html.twig' %}

{% block title %}
CreateSafe
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/dropzone.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/basic.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/homepage.css') }}" />
{% endblock %}

{% block body %}
    {% include 'navigationBar.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="jumbotron">
                <video id="video-background" preload="auto" muted autoplay loop>
                    <source src="{{ path('video') }}" type="video/mp4">
                </video>
                <div id="onVideo">
                    <h1>Copyright Registration<br>for creatives!</h1>
                    <p>
                        <button type="button" class="btn blueButton btn-lg" data-toggle="modal" data-target="#myModal">
                        Protect Now
                        </button>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>CreateSafe is a quick, secure, easy way to register the copyright in your creative work.</h2>
                <div class="container-fluid">
                    <div class="small-box">
                        <img alt="Art Icon" src="{{ asset('images/homepage/Art.png') }}"/>
                        <h3>Art</h3>
                    </div>
                    <div class="small-box">
                        <img alt="Script Icon" src="{{ asset('images/homepage/Film.png') }}"/>
                        <h3>Scripts</h3>
                    </div>
                    <div class="small-box">
                        <img alt="Books Icon" src="{{ asset('images/homepage/Books.png') }}"/>
                        <h3>Books</h3>
                    </div>
                    <div class="small-box">
                        <img alt="Photos Icon" src="{{ asset('images/homepage/Photos.png') }}"/>
                        <h3>Photos</h3>
                    </div>
                    <div class="small-box">
                        <img alt="Music Icon" src="{{ asset('images/homepage/Music.png') }}"/>
                        <h3>Music</h3>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <h2>Three Quick and Easy Step</h2>
                <p>In just two minutes, you can have a copy of your work certified.</p>
                <div class="container-fluid">
                    <div class="small-box">
                        <div class="circle">
                            <h2>1</h2>
                            <img alt="Upload" src="{{ asset('images/homepage/Upload.png') }}"/>
                        </div>
                        <div class="text-left">
                            <h4>Upload</h4>
                            <p>Your book, music or image to CreateSafe in PDG, Word, PNG or JPG formats.</p>
                        </div>
                    </div>
                    <div class="small-box">
                        <div class="circle">
                            <h2>2</h2>
                            <img alt="CreateSafe Logo" src="{{ asset('images/icons/ProtectNew.png') }}"/>
                        </div>
                        <div class="text-left">
                            <h4>Protected</h4>
                            <p>Congratulations. Your work is stamped and dated. Copyright registered.</p>
                        </div>
                    </div>
                    <div class="small-box">
                        <div class="circle">
                            <h2>3</h2>
                            <img alt="Certificate" src="{{ asset('images/icons/Certificate.png') }}"/>
                        </div>
                        <div class="text-left">
                            <h4>Certified Copy</h4>
                            <p>We send you your certificate with your work's unique registration code.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additionalJavascripts %}
    <script>
    $(document).ready(function () {
        $("#dropzone").dropzone({
            maxFilesize: 10, //MB; remember to change upload_max_filesize in php.ini too!!
            acceptedFiles: "application/msword,application/pdf,image/*",
            init: function() {
              this.on("addedfile", function(file) {
                // Create the remove button
                var removeButton = Dropzone.createElement("<button class=\"btn btn-xs btn-danger\">Remove File</button>");


                // Capture the Dropzone instance as closure.
                var _this = this;

                // Listen to the click event
                removeButton.addEventListener("click", function(e) {
                  // Make sure the button click doesn't submit the form:
                  e.preventDefault();
                  e.stopPropagation();

                  // Remove the file preview.
                  _this.removeFile(file);
                });
                // Add the button to the file preview element.
                file.previewElement.appendChild(removeButton);
              });

              //for debugging purposes, prints response to XMLHttpRequest when an error is returned
              this.on("error", function(file, errorMessage, xhr) {
                alert(xhr.responseText);
              });
            }
        });

        $(".jumbotron").append
    });
    </script>
    <script src="{{ asset('js/dropzone.js') }}"></script>
{% endblock %}