{% extends 'base.html.twig' %}

{% block title %}
    CreateSafe - Features
{% endblock %}

{% block stylesheets %}
    <style>
        .colouredBackground {
            background-color: #f9f9f9 !important;
        }

        .container-fluid  h2 {
            text-align: center;
        }

        .col-xs-12>.container-fluid {
            padding-bottom: 100px;
        }

        h2 {
            margin-top: 25px;
            margin-bottom: 50px;
        }

        #iPhone {
            margin-left: 150px;
            margin-right: 100px;
        }

        .glyphicon-ok-sign {
            display: inline;
            font-size: 3.5em;
            color: limegreen !important;
        }

        .vertical-center p {
            display: inline;
            margin-left: 10px;
            margin-top: 10px;
        }

        .vertical-center {
            margin-top: 50px;
            display: flex;
            align-items: center;
            max-width: 45%;
        }

        .center {
            margin: 0 20%
        }

        .center img, img.center {
            margin-top: 50px;
        }

        .redButton {
            width: 200px;
            display: block;
            margin: -22px auto 0 auto;
            position: absolute;
            overflow: auto;
            left: 0; right: 0;
            z-index: 100;
        }

        .right-text {
            max-width: 50%;
        }

        body {
            position: relative;

        }

        blockquote {
            width: 75%;
            margin-top: 100px;
            margin-bottom: 75px;
            border: none;
        }

        blockquote p {
            font-style: italic;
        }
    </style>
{% endblock %}

{% block body %}
    {% include 'navigationBar.html.twig' %}
    <div class="row colouredBackground">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2>Features Designed for Creatives</h2>
                <img style="max-height: 600px;" id="iPhone" class="pull-left" alt="iPhone features" src="{{ asset('images/features/iPhoneFeatures2.png') }}" />
                <div class="vertical-center">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span><p>CreateSafe stamps your work with the date and your unique registration number.</p>
                </div>
                <div class="vertical-center">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span><p>Certificate of Registration for your work and its unique code.</p>
                </div>
                <div class="vertical-center">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span><p>Backup copies of all your certified works in one place.</p>
                </div>
                <div class="vertical-center">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span><p>Easy Evidence - in seconds you can produce a certified copy of your work.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="container-fluid">
                <div class="center">
                    <h2>Features Designed for Creatives</h2>
                    <p>Protect all your creative works in one place. For example, if you're an author, we know that very often you will want to protect more than just your writing for example photos, book covers, illustrations...All can be registered in your CreateSafe account.</p>
                </div>
                <img style="max-height: 600px;" class="center img-responsive" alt="iPad icons" src="{{ asset('images/features/protectAssets.png') }}" />
            </div>
        </div>
    </div>
    <div class="row colouredBackground">
        <div class="col-xs-12">
            <div class="container-fluid">
                <div class="center">
                    <h2>Immediate Protection</h2>
                    <p>Peace of mind. It only takes minutes to register your work with us, and for you to prove that your work is yours.</p>
                    <img style="max-height: 300px;" class="center-block img-responsive" alt="Stop watch" src="{{ asset('images/features/stopWatch.png') }}" />
                    <br><br>
                    <br><br>
                    <h2>Put others on notice</h2>
                    <p>Alert people to the fact that the copyright in your work is registered. Download one of our useful icons for your website to show your proof of ownership. You can even insert the CreateSafe mark of registration and unique registration number on your work, for example on your book's copyright page.</p>
                    <img style="max-height: 300px;" class="center-block img-responsive" alt="Copyright section" src="{{ asset('images/features/CopyrightMarkWhite.png') }}" />
                    <br><br>
                    <br><br>
                    <h2>Low cost &amp easy payment</h2>
                    <p>Affordable and flexible payments. Protect as much or as little as you need.</p>
                    <p>Peace of mind for the price of a coffee and danish.</p>
                    <img style="max-height: 150px;" class="center-block img-responsive" alt="Paypal logo" src="{{ asset('images/features/Paypal.png') }}" />
                    <img style="max-height: 150px;" class="center-block img-responsive" alt="Coins" src="{{ asset('images/features/coins1.png') }}" />
                </div>
            </div>
            <img style="max-width: 45%;" class="pull-left img-responsive" alt="justice icon" src="{{ asset('images/features/Justice.png') }}" />
            <br><br><h2>Approved by lawyers.</h2>
            <p class="right-text pull-left">Our certification procedure has been approved by leading international law firms in the US and UK.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="container-fluid">
                <div class="center">
                    <h2>Easy Evidence</h2>
                    <p>Protect and access your registered books and works on any device in seconds anywhere. We will email you a copy, you can log in and download it or even email it to someone else.</p>
                </div>
                <img style="max-height: 600px;" class="center img-responsive" alt="iPhone features" src="{{ asset('images/features/TODO.png') }}" />
            </div>
        </div>
    </div>
    <div class="row colouredBackground">
        <div class="col-xs-12">
            <div class="container-fluid">
                <div class="center">
                    <h2>Stop others breaching your Copyright</h2>
                    <p>Within your CreateSafe account, you can send a legal letter - known as a Cease & Desist letter - to anyone you believe has used your work without your consent and request that they stop doing so. This is the first step that the lawyer would do, if you asked for thei help. Doing it through CreateSafe will save you a packet.</p>
                    <p>That should do the trick!</p>
                    <img style="max-height: 400px;" class="center-block img-responsive" alt="Cease And Desist" src="{{ asset('images/features/CeaseAndDesist.png') }}" />
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn redButton btn-lg" data-toggle="modal" data-target="#myModal">Protect Now</button>
    <div class="row">
        <div class="col-xs-12">
            <div class="container-fluid">
                <blockquote class="center-block"><p>"Everyone has the right to the protection of the moral and material interests resulting from any scientific, literary or artistic production of which he is the author."</p><cite class="pull-right">United Nations Convention on Human Rights</cite></blockquote>
                <h2>They are you rights.<br>Make sure you've registered yours.</h2>
            </div>
        </div>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}