{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <div class="container-fluid">
        <div class="row" id="secondRow">
            <div class="col-sm-6">
                <form action="" method="post" id="orderingForm">
                    <span class="lead">Order by:</span>
                    <div class="selector">
                        <select id="orderBy" name="orderBy" onChange="reorder();">
                            <option value="dateProtected:ASC">Date Protected A-Z</option>
                            <option value="dateProtected:DESC">Date Protected Z-A</option>
                            <option value="originalName:ASC">Name A-Z</option>
                            <option value="originalName:DESC">Name Z-A</option>
                            <option value="extension:ASC">Type A-Z</option>
                            <option value="extension:DESC">Type Z-A</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-sm-6" id="searchDiv">
                <input id="search" type="text" placeholder="Search Your Works" maxlength="25" oninput="search();"/>
                <img class="magGlass" src="{{ asset("/images/icons/magGlass.png") }}">
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 scrollable">
                <ul class="list">
                    {% for file in protectedFiles %}
                        <li class="clearfix">
                            {% if file.extension == 'pdf' %}
                                <img class="preview" src="{{ asset("/protected/files/") ~ app.user.id ~ '/' ~ file.registrationNumber ~ '.png' }}">
                            {% else %}
                                <img class="preview" src="{{ asset("/protected/files/") ~ app.user.id ~ '/' ~ file.fileName }}">
                            {% endif %}
                            <div class="description">
                                <label id="fileName" class="lead text-capitalize">{{ file.originalName }}</label>
                                <label class="lead">{{ file.extension | upper }}</label>
                                <label class="lead">{{ file.dateProtected.format('d/m/Y') }}</label>
                            </div>
                            <a href="{{ path('viewProtectedWork', {'id':file.registrationNumber}) }}"><button class="view">VIEW</button></a>
                            <div class="shortcuts">
                                <a download="{{ file.originalName }}" href="{{  asset("/protected/files/") ~ app.user.id ~ '/' ~ file.fileName }}"><img src="{{ asset("/images/icons/Download.png") }}"></a>
                                <img style="cursor: pointer;" onclick="print('{{ vich_uploader_asset(file, 'file') }}')" src="{{ asset("/images/icons/Print.png") }}">
                                <div id="printerDiv" style="display:none"></div>
                                <img style="cursor: pointer;" onclick="sendCertificate('{{ file.registrationNumber }}')" class="smaller" src="{{ asset("/images/icons/Mail.png") }}">
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% include 'profile/sideBar.html.twig' %}
        </div>
    </div>
</div>
