{% extends 'base.html.twig' %}

{% block title %}
    CreateSafe - Payment
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/form.css') }}">
    <style>
        label:before {
            content: ' ';
            display: block;
        }

        .scrollable {
            max-height: 200px !important;
            overflow: scroll;
            margin-bottom: 30px;
        }

        .blueButton {
            margin-top: 10px;
            margin-bottom: 10px;
            right: 30px;
            display: inline-block;
        }

        .account-wall {
            position: relative;
            background-color: #efefef !important;
            padding-bottom: 30px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-sm-offset-4">
                <div style="position: relative; text-align: center">
                    <a href="{{ path('homepage') }}"><img class="text-center" id="logo" alt="CreateSafe Logo" src="{{ asset("/images/logo/logo.png") }}"></a>
                    <h1 style="font-size: 2em" class="text-center login-title">Your order summary</h1>
                </div>
                <div class="account-wall">
                    <div class="form-signin">
                        <div class="scrollable">
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                </tr>
                                {% set id = 1 %}
                                {% for name,ext in files %}
                                    <tr>
                                        <td>{{ id }}</td>
                                        <td>{{ name }}</td>
                                        <td>{{ ext | upper }}</td>
                                    </tr>
                                    {% set id = id + 1 %}
                                {% endfor %}
                            </table>
                        </div>
                        {{ form_start(form) }}
                        <div class="form-group">
                            <div id = "form_paymentMethod">
                                <input type="radio" id="form_paymentMethod_0" name="form[paymentMethod]" required="required" value="paypal" checked="checked">
                                <label for="form_paymentMethod_0" class="required">Pay with Paypal</label><br>
                                <input type="radio" id="form_paymentMethod_1" name="form[paymentMethod]" required="required" value="other">
                                <label for="form_paymentMethod_1" class="required">Pay with other method.</label>
                            </div>
                            {{ form_widget(form.pay, {'attr': {'class': 'btn blueButton btn-primary pull-right'}}) }}
                            {{ form_row(form._token) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}